.logo {
    height: 124px;
}

/* #re
{
    margin-top: -10%;
    margin-left: 39%;
}
#fn
{
    width: 48%;
    margin-top: 3%;
}
#ln
{
    width: 50%;
    margin-top: -16%;
    margin-left: 50%;
}
#con
{
    width: 48%;
}
#sta
{
    width: 50%;
    margin-top: -16%;
    margin-left: 50%;
}
#cit
{
    width: 48%;
}
#pin
{ 
    width: 50%;
    margin-top: -16%;
    margin-left: 50%;

}
#doc
{
    width: 48%;
}
#doc2
{
    width: 50%;
    margin-top: -21%;
    margin-left: 50%;
}
#aa
{
    
    margin-top: 0%;
}
#im
{
    width: 30%;
    border-radius: 50%;
    margin-left: 34%;
    margin-top: -9%;
} */
