.landing{
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/w1.jpeg');
    background-position: top;
    background-size:cover ;
}
.main {
    color: black;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 64px;
    font-weight: 600;
    
    right: 572px;
    width: 500px;
    padding: 30px;
    text-align:justify ;
    background-color:  #df9fdf

    ;
}
.main-btn {
    padding-top: 30px;
}
.btn {
    padding: .6rem 2.5rem;
    border-radius: 999px;
    color: black;
    background-color: #993399;  
    box-shadow: 0 10px 10px rgba(0, 0, 0, .15);
    margin-right: 20px;
}
.btn:hover {
    color:black;
    background-color: #ecc6ec
    ;
}